body {
	background-color: #bcbcbc;
}

.blocco{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nome{
	display: inline-flex;
}
.cognome{
	display: inline-flex;
}

.ticket{
	margin-top:10%;
	margin-left: 10%;
}
 

.bottone a{ 
 color:black;; 
} 
 
a:hover { 
  color: white; 
} 
 
 
.bottone:hover{ 
box-shadow: inset 350px 0 0 0 #009688; 
} 
 
.bottone:hover span{ 
 width: 100%; 
} 

 
.bottone a{ 
 color: white; 
} 

footer{
	margin-top:200px;
}