<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link th:href="@{/css/my-style.css}" rel="stylesheet" />
<link th:href="@{/css/agenti.css}" rel="stylesheet" />
<link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
<title>agenti</title>
</head>
<body>
    <header th:replace="fragments/base.html :: intestazione"></header>
	<div class="titolo">
		<h1>Questi sono i nostri Agenti :</h1>
	</div>
	
		
		
			<div class="elenco">
			<div class="agenti">
		
	<div class="elenco">
				<li><a class= "punto" th:each="agente : ${agenti}" href="agente.html"
					th:href="@{'/agente' + '/' + ${agente.id}}" th:text="|${agente.nome} |">Buffetefefef
				</a></li>
			</div>     
	  </div>
	 </div>
			
				<form th:if="${credentials.role == 'ADMIN'}" th:action="@{'/admin/agenteForm'}"
				method="GET">
				<button class="sub-button"  style="margin-top:40px;margin-left:45%" type="submit">Bottone</button>
			</form>
		
	

	
	 <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>