
<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"> 
<head> 
 
<link th:href="@{/css/my-style.css}" rel="stylesheet" /> 
<link th:href="@{/css/agenti.css}" rel="stylesheet" /> 
<link 
      rel="stylesheet" 
      type="text/css" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" 
    /> 
<title>Agenti</title> 
</head> 
<body> 
 
 
 
<div class="banner"> 
    <header th:replace="fragments/base.html :: intestazione"></header> 
 <div class="titolo"> 
  <h1>I nostri Agenti </h1> 
 </div> 
  
 <div class="carte"> 
 <div class="rigaCarte"> 
 <div th:each="agente : ${agenti}"> 
 <div class="card"> 
  
  <div class="card-text"> 
    <div class="nome"> 
   <a  href="agente.html" 
     th:href="@{'/agente' + '/' + ${agente.id}}" th:text="|${agente.nome} |" >></a> 
   </div> 
    
  </div> 
   
</div> 
</div> 
</div> 
</div> 
 
 
 
 <div class="blocco">
    <form th:if="${credentials.role == 'ADMIN'}" th:action="@{'/admin/agenteForm'}" 
    method="GET"> 
   <button class="bottone"  type="submit"><h1>Aggiungi Agente</h1></button> 
   </form> 
   </div>
   
 </div> 
 
  
  <footer th:replace="fragments/base.html :: footer"></footer> 
</body> 
</html>

