<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link th:href="@{/css/my-style.css}" rel="stylesheet" />
<link th:href="@{/css/immobili.css}" rel="stylesheet" />
<link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
<title>Chefs</title>
</head>
<body>

<div class="banner">
    <header th:replace="fragments/base.html :: intestazione"></header>
	<div class="titolo">
		<h1>Questi sono i nostri Immobili</h1>
	</div>
	
	<div class="carte">
	<div class="rigaCarte">
	<div th:each="immobile : ${immobili}">
	<div class="card">
  <div class="card-image">
  <p> <!--  	<img th:src="${immobili.immagine}" height="300" width="auto"> --></p>
  </div>
  <div class="card-text">
    <div class="nome">
			<a href="immobile.html"
			th:href= "@{'/immobile' + '/' + ${immobile.id}}" th:text="|${immobile.indirizzo} ${immobile.civico} |" >></a>
			</div>
    <h2>VIA IMMOBILE</h2>
    <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
  </div>
  
</div>
</div>
</div>
</div>
	
	
	
	
		
		

	 
	 <div>
			<form th:if="${credentials.role == 'ADMIN'}" th:action="@{'/admin/immobileForm'}"
				method="GET">
				<button class="sub-button"  style="margin-top:40px;margin-left:45%" type="submit">Bottone</button>
			</form>
		</div>

		</div>
	 <footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>