<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">

<link th:href="@{/css/my-style.css}" rel="stylesheet" />
<link th:href="@{/css/ticket.css}" rel="stylesheet" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

<title th:text="${title}">Buffet</title>
</head>
<body>

	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>




<div class="blocco">

    <div class="immagine">
			<img th:src="${ticket.immobile.immagine}" height="700" width="auto">
			</div>
			
			<div class="indirizzo">
			<h1>INDIRIZZO:</h1>
			<h1 th:text="${ticket.immobile.indirizzo}">Paolo</h1></div>
			
			
			<div class="civico">
			<h1>CIVICO:</h1>
			<h1 th:text="${ticket.immobile.civico}">Rossi</h1></div>
			
			<div class="civico">
			<h2>INTERNO:</h2>
		<h2 th:text="${ticket.immobile.interno}">Rossi</h2>	</div>
		
			<div class="data">
			<h2>DATA PRENOTAZIONE:</h2>
		<h2 th:text="${ticket.dataPrenotazione}">Rossi</h2>	</div>

	




	</div>
	
		<div class="Aggiungi">
            <form  th:action="@{'/remove'+'/' + ${ticket.id}}"
                method="POST">
                <button class="bottone" type="submit">
                <a>Rimuovi
                </a>
                </button>
            </form>
        </div>
        




	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>