<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
<link th:href="@{/css/my-style.css}" rel="stylesheet" />
<link th:href="@{/css/utente.css}" rel="stylesheet" />

<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

<title th:text="${title}">Utente</title>
</head>
<body>
<div class="banner">
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div >
	
	


		<div class="blocco">
			
			<div class="nome">
			<h1>NOME:</h1>
			<h1 th:text="${utente.nome}">Paolo</h1></div>
			
			<div class="cognome">
			<h1>COGNOME:</h1>
			<h1 th:text="${utente.cognome}">Paolo</h1></div>
			</div>
		<div class="ticket">
		<h2>I Tuoi Tickets</h2>
			
		<div class="elenco">
		<ul> 
		<li
				 class= "bottone" th:each="ticket : ${tickets}">
					<a th:href="@{'/ticket' + '/' + ${ticket.id}}" th:text="|${ticket.immobile.indirizzo}  ${ticket.Progressivo} |">Buffetefefef
					</a>
		</li>
		</ul>
			</div> 
			</div>
			
		<!--  	<div class="bottone">
						<a th:href="@{/prenota}">Prenota il tuo Appuntamento</a>
					</div>
-->
		


	</div></div>


	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>