<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">


<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

<title th:text="${title}">Buffet</title>
</head>
<body>

	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>




		<div>
			
			<h1 th:text="${utente.nome}">Paolo</h1>
			<h1 th:text="${utente.cognome}">Paolo</h1>
			
			
		<div class="elenco">
				<a class= "punto" th:each="ticket : ${tickets}" href="ticket.html"
					th:href="@{'/ticket' + '/' + ${ticket.id}}" th:text="|${ticket.immobile.nome}${ticket.Progressivo} |">Buffetefefef
				</a>
			</div> 

		</div>


	</div>


	<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>